VICTIM_IP="192.168.1.5"
SERVER_PORT="8080"

# Access Restriction
ALLOW_IP=""         # change to attacker ip

# SSL configuration
SSL_ENABLED="true"  # change to "true" for encrypted connection
# SSL_CERT="server.pem"   # uncomment if using custom cert
# SSL_KEY="server.key"
